
/**    Especificando as fontes */
$font-titulo : "Raleway", sans-serif;
$font-texto : "IBM Plex Mono", monospace;

/**    Especificando cores */
$cor-bg-body: #1B1B1B;
$cor-bg-button: #3F8E00;
$cor-text-title: #FFFFFF;
$cor-text-body: #9C9C9C;
$cor-border-button: #62BA1B;

body{
     font: $font-texto;
     background-color: $cor-bg-body;
     color: $cor-text-body;
}

h1{
    color: $cor-text-title;
}

button{
    background-color: $cor-bg-button;
    border-color: $cor-border-button;
    color: $cor-text-title;
    margin-top: 50px;
    padding: 15px;
}

.header{}
.job-list{
    justify-content: space-evenly;
    
}

.lista-sem-estilo{
    padding: 0;
    list-style: none;
}
